<footer class="footer">
  <p>&lt;3</p>
  <p>Made with all the love in the world by <a href="{{ site.twitter }}">@mdo</a>.</p>
  <p>Open sourced under MIT. Copyright {{ site.time | date: '%Y' }}.</p>
  <p>Icons for checkbox and radio from <a href="http://useiconic.com/open">Open Iconic</a>.</p>

  <ul class="quick-links">
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&amp;repo=wtf-forms&amp;type=watch&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="112" height="20"></iframe>
    </li>
    <li>
      <iframe class="github-btn" src="http://ghbtns.com/github-btn.html?user=mdo&amp;repo=wtf-forms&amp;type=fork&amp;count=true" allowtransparency="true" frameborder="0" scrolling="0" width="98" height="20"></iframe>
    </li>
  </ul>
  <ul class="quick-links">
    <li class="follow-btn">
      <a href="{{ site.twitter }}" class="twitter-follow-button" data-link-color="#0069D6" data-show-count="true">Follow @mdo</a>
    </li>
    <li class="tweet-btn">
      <a href="https://twitter.com/share" class="twitter-share-button" data-url="http://wtfforms.com/" data-count="horizontal" data-via="mdo">Tweet</a>
    </li>
  </ul>
</footer>
