<header class="masthead">
  <div class="container">
    <span class="icon">✈</span>
    <h1>{{ site.name }}</h1>
    <p class="lead">Friendlier HTML form controls with a little CSS magic. Designed for IE9+, as well as the latest Chrome, Safari, and Firefox.</p>
    <p class="lead">Created by <a href="{{ site.twitter }}">@mdo</a>.</p>

    <p class="masthead-links">
      <a href="{{ site.repo }}">
        <span class="icon icon-github-circled"></span>
      </a>
      <a href="{{ site.twitter }}">
        <span class="icon icon-twitter"></span>
      </a>
    </p>
  </div>
</header>
