<label class="control checkbox control-x">
  <input type="checkbox" checked>
  <span class="control-indicator"></span>
</label>
<label class="control checkbox control-dash">
  <input type="checkbox" checked>
  <span class="control-indicator"></span>
</label>
<label class="control radio control-x">
  <input type="radio" id="radioIcon1" name="radio-icon-x" checked>
  <span class="control-indicator"></span>
</label>
<label class="control radio control-dash">
  <input type="radio" id="radioIcon2" name="radio-icon-dash" checked>
  <span class="control-indicator"></span>
</label>